body,html {
    height: 100%;
}

#map {
    height: 400px;
    width: 100%;
}

#div1 {
    margin: 10px;
    font-size: 1.25em;
}

#theTable {
    border-collapse:collapse;
    border:1px solid #7f7f7f;
    margin-bottom: 75px;
}

td {
    border: 1px solid #7f7f7f;
    width: 50px;
    height: 50px;
    text-align: center;
}

.jumbotron {
    background-image: url("https://wallpaper-gallery.net/images/music-background-pictures/music-background-pictures-9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.jumbotron::after {
    display: block;
    content: "";
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2));
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

form {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;  
}

h1, p, h3, label {
    color: lightgray;
    font-family: 'Josefin Sans', sans-serif;
}

#instructions {
   text-align: center;
}

.btn {
    margin: 10px;
    justify-content: center;
    background-color: lightskyblue;
}

.form-row {
    justify-content: center;
}

.form-group {
    margin-left: 0px;
    margin-bottom: 50px;
}

body {
    background-color: lavender;
}

.submitRow {
    justify-content: center;
    align-content: center;
}

.submitCol {
    justify-content: center;
    align-content: center;
}

.modalContainer {
    justify-content: center;
    align-content: center;
}

.footer {
    bottom: 0%;
    position: fixed;
    width: 100%;
}